<table class="table">
    <thead>
        <th>
            username
        </th>
        <th>
            password
        </th>
        <th>
            roles
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let user of users$ | async; index as i">
            <td>
                {{user.username}}
            </td>
            <td>
                {{user.password}}
            </td>
            <td>
                <span *ngFor="let role of user.roles">{{role.role}},</span>
                
            </td>
            <td>
                <button class="mr-1 btn btn-primary btn-xs" type="button" (click)="openUserModal(user)">Edit</button>
            </td>
            <td>
                <button class="mr-1 btn btn-danger btn-xs" type="button" (click)="deleteUser(user)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


<table class="table">
    <thead>
        <th>
            Role
        </th>
        <th>
            Desc
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let role of roles$ | async; index as i">
            <td>
                {{role.role}}
            </td>
            <td>
                {{role.desc}}
            </td>
            <td>
                <button class="mr-1 btn btn-danger btn-xs" type="button" (click)="deleteRole(role)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


<p>
    <button class="mr-1 btn btn-primary btn-xs" type="button" (click)="openUserModal()">New User</button>
</p>