<nav class="navbar topnavbar" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="'/app'">
            <!-- <div class="brand-logo">
                <img class="img-fluid" src="assets/img/logo_tmp.png" width="30" alt="App Logo" />
                <span style="color: white;">AMR</span>
            </div>
            <div class="brand-logo-collapsed">
                <img class="img-fluid" src="assets/img/logo_tmp.png" alt="App Logo" />
            </div> -->
        </a>
    </div>
    <ul class="navbar-nav flex-row">
        <li class="nav-item" title="Logout" (click)="logout()">
            <a class="nav-link">
                <em class="icon-logout"></em>
            </a>
        </li>
    </ul>
</nav>