<table class="table">
    <thead>
        <th>
            Roli
        </th>
        <th>
            Pershkrimi
        </th>
        <th>
            Statusi
        </th>
        <th>
            <button class="mr-1 btn btn-primary btn-xs" type="button" (click)="openRoleModal()">New Role</button>
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let role of roles$ | async; index as i">
            <td>
                {{role?.role}}
            </td>
            <td>
                {{role?.desc}}
            </td>
            <td>
                N/A
            </td>
            <td>
                <button class="mr-1 btn btn-primary btn-xs" type="button" (click)="openRoleModal(role)">Edit</button>

                <button class="mr-1 btn btn-danger btn-xs" type="button"
                    (click)="openDeleteConfirm(template, role)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


<ng-template #template>
    <div class="modal-body text-center">
        <p>Jeni i sigurte qe doni te fshini <strong style="color: red;">{{role?.role}} </strong>?</p>
        <button type="button" class="btn btn-xs btn-default" (click)="confirmDeleteRole()">Yes</button>
        <button type="button" class="btn btn-xs btn-primary" (click)="cancelDelete()">No</button>
    </div>
</ng-template>